<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ximalaya" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ximalaya</name>
    <js-module name="ximalaya" src="www/ximalaya.js">
        <clobbers target="cordova.plugins.ximalaya"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ximalaya">
                <param name="android-package" value="com.cordova.plugins.ximalaya"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="app/src/main/AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/ximalaya.java" target-dir="app/src/main/java/com/cordova/plugins/ximalaya"/>

        <source-file src="src/android/libs/armeabi/libmediadatacryto.so" target-dir="app/src/main/jniLibs/armeabi" />
        <source-file src="src/android/libs/armeabi/libsoundtouch.so" target-dir="app/src/main/jniLibs/armeabi" />
        <source-file src="src/android/libs/armeabi/libxmediaplayer.so" target-dir="app/src/main/jniLibs/armeabi" />
        <source-file src="src/android/libs/armeabi/libxmediaplayer_x.so" target-dir="app/src/main/jniLibs/armeabi" />
        <source-file src="src/android/libs/armeabi/libxmediaplayerv7.so" target-dir="app/src/main/jniLibs/armeabi" />
        <source-file src="src/android/libs/armeabi/libxmopendatacrypto.so" target-dir="app/src/main/jniLibs/armeabi" />

        <source-file src="src/android/libs/arm64-v8a/libxmediaplayerv7.so" target-dir="app/src/main/jniLibs/arm64-v8a" />

        <source-file src="src/android/libs/gson-2.8.0.jar" target-dir="app/libs" />
        <source-file src="src/android/libs/okhttp-3.3.1.jar" target-dir="app/libs" />
        <source-file src="src/android/libs/okio-1.8.0.jar" target-dir="app/libs" />
        <source-file src="src/android/libs/TingPhoneOpenSDK_5.6.12.jar" target-dir="app/libs" />
        <source-file src="src/android/libs/XmDownload_1.6.jar" target-dir="app/libs" />
        <source-file src="src/android/libs/XmlyOAuth2SDK_V1.5.jar" target-dir="app/libs" />

    </platform>
</plugin>